:root{
    --text-shadow-color: #000000;
    --main-header-color: #a52a2a;
    --main-title-bg-color: #800000;
    --fire-button-font-color: #ff8c00;
    --fruit-button-font-color: #daa520;
    --fishing-button-font-color: #ffb6c1;
    --main-font-color: #ff4500;
    --shelter-button-bg-color:#008000;
    --footer-font-color: #ffff00;
    --fruit-button-bg-color: #8b4513;
    --main-bg-color: #006400;
    --fire-button-bg-color: #b22222;
    --fishing-button-bg-color: #4169e1;
}
#main_survivor_webpage{
    background-color: var(--main-bg-color);
    border: 50px solid transparent;
    padding: 35px;
    border-image-source: url(https://parade.com/.image/t_share/MTkwNTgxMjEzMDQwODEzOTQ4/survivor-cambodia-960x483.jpg);
    border-image-repeat: stretch;
    border-image-slice: 50;
    border-image-width: 70px;
    border-image-outset: 30px; 
}
#main_title{
    font-family: "Knewave", fantasy;
    font-size: 60px;
    color: var(--main-header-color);
    text-shadow: 2px 2px var(--text-shadow-color);
}   
#survivor_camp_image{
    float: right;
}
#title_description, #link_showcase{
    font-family: "Knewave", sans-serif;
    font-size: 30px; 
    color: var(--main-font-color); 
    background-color: var(--main-title-bg-color);
    border: 40px solid var(--main-bg-color);
    padding: 5px;
}
.navigation_buttons{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-areas:
    "shelter-button fire-button fruit-button fishing-button";
}
.navigation_button_images{
    margin-left: 35px;
    object-fit: contain;
}
#fruit-picking-webpage-link-button{
    grid-area: fruit-button;
    position: relative;
    font-family: "Knewave", sans-serif;
    font-size: 20px;
    background-color: var(--fruit-button-bg-color);
    color: var(--fruit-button-font-color);
    margin-left: 10px;
}
#fruit-picking-webpage-link-button:hover{
    box-shadow: 0 10px 20px 0 var(--fire-button-font-color);
}
#fruit-picking-webpage-link-button:active{
    transform: scale(0.5, 0.5);
}
#fire-starting-webpage-link-button{
    grid-area: fire-button;
    position: relative;
    font-family: "Knewave", sans-serif;
    font-size: 20px;
    background-color: var(--fire-button-bg-color);
    color: var(--fire-button-font-color);
    margin-left: 10px;
}
#fire-starting-webpage-link-button:hover{
    box-shadow: 0 10px 20px 0 var(--fire-button-font-color);
}
#fire-starting-webpage-link-button:active{
    transform: scale(0.5, 0.5);
}
#shelter-building-webpage-link-button{
    grid-area: shelter-button;
    position: relative;
    font-family: "Knewave", sans-serif;
    font-size: 20px;
    background-color: var(--shelter-button-bg-color);
    color: var(--fruit-font-color);
}
#shelter-building-webpage-link-button:hover{
    box-shadow: 0 10px 20px 0 var(--fire-button-font-color);
}
#shelter-building-webpage-link-button:active{
    transform: scale(0.5, 0.5);
}
#fishing-webpage-link-button{
    grid-area: fishing-button;
    position: relative;
    font-family: "Knewave", sans-serif;
    font-size: 20px;
    background-color: var(--fishing-button-bg-color);
    color: var(--fishing-button-font-color);
    margin-left: 10px;
}
#fishing-webpage-link-button:hover{
    box-shadow: 0 10px 20px 0 var(--fire-button-font-color);
}
#fishing-webpage-link-button:active{
    transform: scale(0.5, 0.5);
}
#shelter-building-webpage-link-button-text, #fire-starting-webpage-link-button-text, 
#fruit-picking-webpage-link-button-text, #fishing-webpage-link-button-text{
    position: absolute;
}
#shelter-building-webpage-link-button-text{
    left: 57px;
    bottom: 5px;
}
#fire-starting-webpage-link-button-text, #fruit-picking-webpage-link-button-text{
    left: 68px;
    bottom: 10px;
}
#fishing-webpage-link-button-text{
    left: 92px;
    bottom: 15px;
}
.survivor_footer{
    background-image: url("bamboo_background.jpeg");
    color: var(--footer-font-color);
    text-shadow: 1px 1px var(--main-font-color);
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 10px;
    margin-top: 10px;
}
.copyright_link, .storage_link{
    color: var(--fire-font-color);
}
.copyright_link:hover, .storage_link:hover{
    color: var(--fire-header-color);
}
@media (max-width: 800px){
    #survivor_camp_image{
        float: none;
        margin-left: 30px;
    }
    #survivor_logo_image{
        margin-left: 30px;
        margin-bottom: 10px;
    }
    .navigation_buttons{
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        grid-template-areas:
        "shelter-button fire-button"
        "fruit-button fishing-button";
    }
    #fruit-picking-webpage-link-button, #fishing-webpage-link-button{
        margin-top: 5px;
    }
}
@media (max-width: 500px){
    #main_survivor_webpage{
        width: 100%;
        padding: 55px;
        border-image-width: 65px;
    }
    #survivor_logo_image{
        width: 350px;
    }
    #survivor_camp_image{
        width: 350px;
    }
    .navigation_buttons{
        grid-template-columns: 100%;
        grid-template-rows: 25% 25% 25% 25%;
        grid-template-areas:
        "shelter-button"
        "fire-button"
        "fruit-button"
        "fishing-button";
        width: 300px;
        margin-left: 50px;
    }
    #title_description, #link_showcase{
        padding: 10px;
    }
    #fire-starting-webpage-link-button, #fruit-picking-webpage-link-button,
    #fishing-webpage-link-button{
        margin-top: 10px;
        font-size: 25px;
    }
    #shelter-building-webpage-link-button{
        font-size: 25px;
    }
    #fruit-picking-webpage-link-button-text{
        bottom: 5px;
    }
    #fishing-webpage-link-button-text{
        bottom: 10px;
    }
    .survivor_footer{
        font-size: 25px;
        padding: 15px;
        margin-top: 20px;
    }
}